header, main{
  width: 960px;
  height: auto;
  margin: 0 auto;
}

nav{
  width: 400px;
  height: 50px;
  background-color: black;
  margin: 0 auto;
}

nav ul{
  margin-left: -30px;
}

nav ul li{
  list-style: none;
  display: inline-block;
  /* width: 100px; */
  text-align: center;
  margin-right: 20px;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

nav ul li a:hover{
  background-color: pink;
}

#main1{
  width: 1250px;
  height: auto;
  margin: 0 auto;
}

#heading{
  width: 980px;
  text-align: center;
  font-size: 40px;
}

#aboutColorado{
  width: 980px;
  height: auto;
  font-size: 20px;
  border-width: 1px;
  border-style: ridge;
  border-color: blue;
}

#grid1{
  display: grid;
  /* grid-template-areas: "col1" "col2" "col3" "col4"; */
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 40px;
}

#grid2{
  display: grid;
  /* grid-template-areas: "col1" "col2" "col3" "col4"; */
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  grid-gap: 40px;
}


#col1{
  width:600px;
  height: 300px;
  background-image: url('../images/colorado.jpg');
}

#col2{
  width: 600px;
  height: 300px;
  background-image: url('../images/EstesPark.jpg');
}

#col3{
  width: 600px;
  height: 300px;
  background-image: url('../images/baseball.jpg');
}

#col4{
  width: 600px;
  height: 300px;
  background-image: url('../images/view.jpg');

}

footer {
    width: 600px;
    margin: 0 auto;
  background-color: green;
  padding-top: 20px;
  text-align: center;

}
