@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');


body{

  background-color: white;
  font-family: 'Noto Serif JP', sans-serif;}

  a{text-decoration: none;
  color: blue;}

a:hover{
  color: purple;
  text-decoration: underline;}

h1{
  font-family: cursive;}

  address{
    font-family: Georgia, serif;
  }

  #name{
    color: #9900cc;
  }

#table{
  text-align: center;
}

#address{
  background-color: #e6f9ff
}

#address2{
  color: blue
}

#myschools{
  font-size: 16px
}


.list{
  color: #cc00ff;
}

.headers{
  font-family: fantasy;
}

#box{
  background-color: pink
}

#container1{
  width: 500px;
  height: auto;
  background-color: cyan;
  margin: 0 auto;
}

#box2{
  background-color: pink;
  width: 400px;
  height: 300px;
  padding: 10px;
}
